.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
}

.cover__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: .3s ease-in-out;
}
.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1280px) {
  .cover__link {
    max-width: 1184px;
    min-height: 740px;
    margin-top: 78px;
    margin-bottom: 106px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
    margin-top: 90px;
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
    margin-top: 63px;
    margin-bottom: 64px;
  }
}
