.place__text {
  grid-area: place__text;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .place__text {
    max-width: 288px;
  }
}
