.page__footer {
  box-sizing: content-box;
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: calc(100% - 48px*2);
}

@media screen and (max-width: 1280px) {
  .page__footer {

  }
}

@media screen and (max-width: 1024px) {
  .page__footer {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 720px) {
  .page__footer {
    max-width: calc(100% - 16px*2);
  }
}
